@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('../public/background.webp');
  background-position: center center;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
